/** CSS Plantilla **/
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

#sideNav {
  padding-left: 1rem;
  padding-right: 1rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-nav .nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 992px) {
  #sideNav {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }

  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }

  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
}

@media (min-width: 768px) {
  section.seccion {
    min-height: 100vh;
  }
}

section.seccion {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}

section.seccion .seccion-contenido {
  width: 100%;
}

/** Mi Css **/
body {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h6,h5,h4,h3,h2,h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
}

.color-fondo {
  background-color: #FF9999;
}

.color-uno {
  color: #FF9999;
}

.color-dos {
  color: #FFC8C8;
}

.hover-boton {
  background-color: #444F5A;
}

.hover-boton:hover {
  background-color: #FF9999 !important;
  color: white !important; 
}

.color-tres {
  color: #444F5A; 
}

.iconos-redes .icono-red {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.iconos-desarrollo {
  font-size: 3rem;
}

.foot {
  margin-top: 40px;
  bottom: 0;
  width: 100%;
  height: 40px;
  position: sticky;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-barra {
  display: flex;
  align-items: center;
}

.foto-p {
  height: 300px;
}

.html-color {
  color: #E44B20;
}

.css-color {
  color: #359CD6;
}

.bootstrap-color {
  color: #8611FA;
}

.git-color {
  color: #EF4F32;
}

.github-color {
  color: #000;
}

.t-titulo-menu {
  font-size: 1.5rem;
}

.t-titulo {
  font-size: 3.5rem;
}

.t-texto-1 {
  font-size: 2rem;
  color: #3E4149;
}

.t-texto-2 {
  font-size: 1.5rem;
  color: #444F5A;
}

.titulo-card {
  font-size: 1.80rem;
  color: #3E4149;
}

.texto-card {
  font-size: 1.25rem;
  color: #444F5A;
  text-align: justify;
}

.borde-card {
  border-color: #FF9999;
}

.boton-formulario {
  background-color: #FF9999;
  color: white;
  width: 10%;
}

.boton-formulario:hover {
  border-color: #FF9999;
  color: #FF9999;
  background-color: white;
}